JSON_LOGGING=true

OPENAI_API_KEY=<OPENAI_API_KEY>
OPENAI_ORG=<OPENAI_ORG>
OPENAI_DEFAULT_MODEL=chat:openai:gpt-4o-mini
OPENAI_DEFAULT_TEMPERATURE=0.0
ZAV_SEARCH_API_BASE_URL=https://api.zeta-alpha.com/v0/service

HF_API_URL=<HF_API_URL>
HF_API_KEY=<HF_API_KEY>