JSON_LOGGING=<JSON_LOGGING>

OPENAI_API_KEY=<OPENAI_API_KEY>
OPENAI_ORG=<OPENAI_ORG>
OPENAI_DEFAULT_MODEL=<OPENAI_DEFAULT_MODEL>
OPENAI_DEFAULT_TEMPERATURE=<OPENAI_DEFAULT_TEMPERATURE>
ZAV_SEARCH_API_BASE_URL=<ZAV_SEARCH_API_BASE_URL>
HF_API_URL=<HF_API_URL>
HF_API_KEY=<HF_API_KEY>